<div class="recent-cause pd-top-80 pd-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-title">Recent course <i class="fa fa-flag"></i></h2>
            </div>
            <div class="col-sm-4 recent-cause-list">
                <img alt="cause" src="images/causes/140140auto.png">
                <div class="recent-cause-summary">
                    <div class="recent-cause-content">
                        <h3 class="recent-cause-title"><a href="#">Auto Service Techinician Level 3</a></h3>
                        <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Training by,</a> <a href="#">David</a></div>
                        <div class="cause-tags"><i class="fa fa-tags" aria-hidden="true"></i> <a href="#">Training duration: 1st Apr  2017 to 10th Apr 2017</a> </div>
                        <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Price: 4200 (INR)</a></div>
                        <a href="product.html" class="btn mg-top-40">Course Details</a>
                    </div>
                    <div class="recent-cause-funding">
                        <div class="fund-line">
                            <div class="fill" style="height: 56%;"></div>
                        </div>
                        <div class="fund-percent">56%</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 recent-cause-list">
                <img alt="cause" src="images/causes/199140Commercial_Vehicle_Driver_Level_III_(LMV).jpg">
                <div class="recent-cause-summary">
                    <div class="recent-cause-content">
                        <h3 class="recent-cause-title"><a href="#">Light Motor Vehicle Driver Level 3 (LMV)</a></h3>
                        <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Training by,</a> <a href="#">Andrew</a></div>
                        <div class="cause-tags"><i class="fa fa-tags" aria-hidden="true"></i> <a href="#">Training duration: 5 May  2017 to 30th June 2017</a> </div>
                        <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Price: 6000 (INR)</a></div>
                        <a href="product.html" class="btn mg-top-40">Course Details</a>
                    </div>
                    <div class="recent-cause-funding">
                        <div class="fund-line">
                            <div class="fill" style="height: 56%;"></div>
                        </div>
                        <div class="fund-percent">56%</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 recent-cause-list">
                <img alt="cause" src="images/causes/138138Welding_Assistant.jpg">
                <div class="recent-cause-summary">
                    <div class="recent-cause-content">
                        <h3 class="recent-cause-title"><a href="#">Welding Assistant</a></h3>
                        <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Training by,</a> <a href="#">Sames</a></div>
                        <div class="cause-tags"><i class="fa fa-tags" aria-hidden="true"></i> <a href="#">Training duration: 1st May  2017 to 10th June 2017</a> </div>
                        <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Price: 5100 (INR)</a></div>
                        <a href="product.html" class="btn mg-top-40">Course Details</a>
                    </div>
                    <div class="recent-cause-funding">
                        <div class="fund-line">
                            <div class="fill" style="height: 56%;"></div>
                        </div>
                        <div class="fund-percent">56%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
