
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<h2>Checkout</h2>
<div style="min-height:450px;">
    <div style="position:absolute;top:41%;left:41%">
        <h1>Thank You.</h1>
    </div>
   
</div>

